
* {
	
	margin: 0;
	padding: 0;
	
}

body {
	
	height: 100vh;
	display: flex;
	flex-direction: column;
	
}

header {
	
	background-color: red;
	border: 1px solid black;
	text-align: center;
	flex-grow: 0;
	flex-basis: auto;
	
}

h1 {
	
	text-transform: uppercase;
	
}

h2 {
	
	margin-top: 4px;
	
}

ul {
	
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	border-top: 1px solid black;
	
}

li {

	border-left: 1px solid black;
	border-right: 1px solid black;
	flex-grow: 1;
	
}

div  {
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex: 1 0 auto;
	
}

section + aside {
	
	background-color: purple;
	
}

aside {
	
	background-color: yellow;
	width: 150vw;
}

section {
	
	display: flex;
	flex-flow: row wrap;
	
}

p {
	
	background-color: lightblue;
	border: 1px solid white;
	height: auto;
	padding: 4px;
	flex: 1 1 0;
	text-align: justify;
	
}

@media screen and (max-width:1280px) {

	p:last-child {
	
		flex-basis: 100%;
	
	}
	
}

footer {
	
	background-color: green;
	border: 1px solid black;
	text-align: center;
	width: 100%;
	flex-shrink: 0;
	
}

footer h2 {
	
	font-size: large;
	margin: 8px;
	
	
}